# Python
__pycache__/
*.pyc
.venv/
.env

# Flutter / Dart
build/
.dart_tool/
.packages
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDEs
.vscode/
.idea/

# System / OS
.DS_Store
Thumbs.db
*.log
*.tmp
*.lnk
*.ini
~$*

# OneDrive / Google Drive sync artifacts
*.gdoc
*.gsheet
*.glink

# Virtual environments
venv/
backend/venv/

# Firebase config
google-services.json
.venv-check/
